/* Global Elements */
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  color: #445361;
  text-align: center;
}

/* Heading */

.heading {
  text-align: center;
  font-size: 2.5rem;
}

.logo {
  height: 40px;
  padding-right: 5px;
}


/* Game box layout */

.game-area {
  background-color: #E6ecf0;
  box-sizing: border-box;
  width: 85%;
  height: 65vh;
  max-height: 450px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.questions-area {
  width: 50%;
  margin: auto;
  padding: 50px 0;
  font-size: 2rem;
}

.questions-area span {
  padding: 0 15px;
}

.score-area {
  width: 60%;
  font-size: 1.2rem;
  margin: 5px auto;
}

.controls-area {
  width: 85%;
  margin: 30px auto;
}

#score {
  color: green;
  font-weight: bold;
}

#incorrect {
  color: red;
  font-weight: bold;
}